*.glsl source linguist-language=GLSL
*.vsh source linguist-language=GLSL
*.gsh source linguist-language=GLSL
*.tcs source linguist-language=GLSL
*.tes source linguist-language=GLSL
*.fsh source linguist-language=GLSL
*.csh source linguist-language=GLSL

*.lang source linguist-language=Java Properties
